/**
 * The API listener is used for distributed monitoring setups.
 */

object ApiListener "api" {
  accept_config = {{ icinga2_api_accept_config | lower }}
  accept_commands = {{ icinga2_api_accept_commands | lower }}

  ticket_salt = "{{ icinga2_api_ticket_salt }}"
}

{% if icinga2_api_users is defined %}
{% for user in icinga2_api_users %}
object ApiUser "{{ user.username }}" {
    password = "{{ user.password }}"
    permissions = [ {{ user.permissions }} ]
}
{% endfor %}
{% endif %}
