object Zone "{{ inventory_hostname }}" {
  endpoints = [ "{{ inventory_hostname }}" ]
  parent = "{{ icinga2_master_host }}"
}

object Endpoint "{{ inventory_hostname }}" {
  host = "{{ client_ip_address }}"
}

object Host "{{ inventory_hostname }}" {
  import "generic-host"
  address = "{{ client_ip_address }}"

  vars.os = "{{ client_os }}"
  vars.distro = "{{ client_distro }}"

  vars.disks["disk"] = {
    disk_all = true
  }

  vars.notification["mail"] = {
    groups = [ "icingaadmins" ]
  }

  vars.client_endpoint = name

  # Host Variables
{% set host_vars = client_vars | default([]) %}
{% for var_name, var_content in host_vars.items() %}
{% for item in var_content %}
  vars.{{ var_name }}["{{ item.name }}"] = {
{% for param_name, param_value in item.params.items() %}
    {{ param_name }} = "{{ param_value }}"
{% endfor %}
  }
{% endfor %}    
{%- endfor %}
  # End Host Variables
}
